body{
    margin:0;
    background:#181825;
    color:white;
    font-family:Arial;
    text-align:center;
}

h2{
    margin-top:20px;
}

canvas{
    border-radius:15px;
    margin-top:20px;
}

#controles {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

#controles select,
#controles input {
  padding: 5px;
  font-size: 15px;
}